<h1 class = "center"> Movie Review </h1>
<h2 class = "center"id='movietitle'>title</h2>
<div id='movieposter'>here the image goes</div>

<div>
<div class = "userinfo">
    <a id="username">User link goes here</a>
    
    <div id="status">if the user is a critic it will be marked here!</div>
    <span class="center">
        <span id='rating'> score</span>
    </span>
</div>
<div class = "center">   
    <span id='review' class = "center">
        this is where the review info will go
    </span>
    <div class = "center" id="feedback"> Did you find this review: Helpful? Funny? Terrible?</div>
</div>
<!-- this is where the review info will be inputted -->
