<h1 class = "center"> Movie Review </h1>
<h2 class = "center"id='movietitle'>title</h2>
<div id='movieposter'>here the image goes</div>

<div>
    <a class = "center"id="username">User link goes here</a>
    <div class = "center"id="status">if the user is a critic it will be marked here!</div>
</div>

<!-- this is where the review info will be inputted -->
<div class = "center">
    <div id='rating'> score</div>
    <div id='review'>
        this is where the review info will go
    </div>
    <div id="feedback"> Did you find this review: Helpful? Funny? Terrible?</div>
</div>