<h1 class = "center"> Movie Review </h1>
<h2 class = "center"id='movietitle'>{{MovieTitle}}</h2>
<div id='movieposter'>here the image goes</div>

<div>
<div class = "userinfo">
    <a id="username">{{Username}}</a>
    
    <div id="status">{{Status}}</div> <br>
    <div> Date Created: <span>{{dateCreated| date:'shortDate'}}</span></div>
    
    <div class="center">
        <span class='rating'> {{Score}}/10</span>
    </div>
</div>
<div class = "review">   
    <span id='review' class = "center">
        {{Review}}
    </span>
    <div class = "center" id="feedback"> Did you find this review: </div>
    <button id="helpful"> Helpful</button>
    <button id="funny"> Funny </button>
    <button id="terrible"> Terrible </button>
</div>
<!-- this is where the review info will be inputted -->
