<h1>Movie page</h1>
<table>
    
    <tr id="top">
      <td id ='poster' colspan="3">image</td>
    </tr>
    <tr id="top">
        <td id ='movietitle' colspan="3">Movie Title</td>
      </tr>
    <tr>
      <td id= 'director'>director</td>
      <td id='genre'>genre</td>
      <td id='year'>year released</td>
    </tr>
  </table>

  <div id="score">
      <section>
      <span> Critiques Score</span>
      <span id="critique"> 0/100</span>
    </section>
<section>
      <span> Audience Score</span>
      <span id="audience"> 0/100</span>
    </section>
  </div>
  <div class = "reviews">
    <h1 id="information">Reviews</h1>
    <table>
      <thead>
        <tr>
          <th>User</th>
          <th>Score</th>
          <th>Status</th>
          <th>Date</th>
          <th>Link to Review</th>
        
        </tr>
      </thead>
      <tbody id="tbody">
  
      </tbody>
      </table>
  </div>