<form>
<div>
    <label for="currentPassword">CurrentPassword: </label> <input type="password"
    id="currentPassword" class="form-control" name="currentPassword" required />
</div>
<br>
<div>
<label for="newpassword">New Password: </label> <input type="password"
    id="newpassword" class="form-control" name="newpassword" required />
</div>
<br>
<div>
    <label for="confirmpassword">Confirm New Password: </label> <input type="password"
        id="confirmpassword" class="form-control" name="confirmpassword" required />
    </div>
    <br>
<div>
    <input type="submit" value="Submit">
</div>
</form>