<h1> Create New Account</h1>
<form> 
    <div>
    <label for="username">Username:</label> <input type="text"
                id="username" class="form-control" name="username" required />
    </div>
    <div>
	<label for="email">Email:</label> <input type="text"
                id="email" class="form-control" name="email" required />
            </div>
            <div>
    <label for="firstname">First Name:</label> <input type="text"
                id="firstname" class="form-control" name="firstname" required />
            </div>
            <div>
	<label for="lastname">Last Name:</label> <input type="text"
                id="lastname" class="form-control" name="lastname" required />
            </div>
                <div>
    <p>Please select your gender:</p>
                <input type="radio" id="male" name="gender" value="male">
                <label for="male">Male</label><br>
                <input type="radio" id="female" name="gender" value="female">
                <label for="female">Female</label><br>
                <input type="radio" id="other" name="gender" value="other">
                <label for="other">Other</label>
            </div>
            
            <div>
                <label for="password">Password:</label> <input type="password"
                id="password" class="form-control" name="password" required />
            </div>
            <div>
    <label for="confirmpassword">Confirm Password:</label> <input type="password"
                id="confirmpassword" class="form-control" name="confirmpassword" required />
            </div>
            <div>
                <input type="submit" value="Submit">
            </div>
</form>
