<!DOCTYPE html>
<html>
<head>

<meta charset="UTF-8" />
<title>Movie reviews</title>

</head>
<body>
	<h1>MovieReviews Website Login</h1>

	<form method="post" action="/MovieReviews/redirect">
		<div>
			<div>
			<label for="yourusername">Username:</label> <input type="text"
				id="yourusername" class="form-control" name="username" required />
			</div>
			<div>
			<label for="yourpassword">Password:</label> <input type="password"
				id="yourpassword" class="form-control" name="password" required />
			</div>
			<div>
			<button>Login</button>
		</div>
		</div>
	</form>
</body>
</html>
