<h1> THIS IS A USER ACCOUNT </h1>

<body>
    <div> Username: </div>
    <div id='username'> {{Username}}</div>
    <div id='status'> {{Status}}</div>
    <div> Date of birth: </div>
    <div id="birthday"> {{Birthday| date:'shortDate'}}</div>
    <div> Gender: </div>
    <div id ="gender"> {{Gender}} </div>
    <div>Country: </div>
    <div id ="country">{{Country}}</div>

    <button id='passwordchange'> Change Password</button>

    <h3>User Reviews</h3>
    <div class = "Reviews">
        <div> This is where the user can see their own reviews</div>
    </div>


</body>
